$primary_color: #0012ff;
$secondary_color: #567654;
$page_width: 1000px;

body{
    width: $page_width;
    background: $primary_color;
    color: black;
    margin: 5px 5px 10px 20px;
    // Recuerde el alcance de un Selector en Sass
    h1{
      font-color: $secondary_color;
   }
}
